.transition-fade {
	transition: 0.4s;
	opacity: 1;
	transform: translateX(0);
}

html.is-animating .transition-fade {
	opacity: 1;
	transform: translateY(100vw);
}

html.is-leaving .transition-fade {
	transition: 0.4s;
	opacity: 0;
	/* transform: translateX(-100vw); */
}
